.login-page {
    height: 100vh;
    background: #E5E5E5;
}

.login-box-inside {
    background: #FFFFFF;
    border: 1px solid #ABABAB;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    padding: 5rem 2rem;
}

.login-page .logo {
    height: 60px;
    margin-bottom: 2rem;
    display: block;
}

.login-page .login-btn {
    padding: .5rem .5rem;
    font-size: 2vw;
    font-weight: 700;
    border: 1px solid #ABABAB;
    background-color: #fff;
    border-radius: 3rem;
    margin-top: 1.5rem;
    height: auto;
}

.red {
    color: #DB4437;
}

.green {
    color: #0F9D58;
}

.blue {
    color: #4285F4;
}

.yellow {
    color: #F4B400;
}