.register-page {
    background: #E5E5E5;
}

.register-page .logo {
    max-height: 60px;
    margin-bottom: 2rem;
}

.register-inside {
    padding: 2rem;
    background: #fff;
    border: 1px solid #ABABAB;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
}

.register-page input {
    display: block;
    padding: .7rem .5rem;
    margin: .5rem 0;
    outline: none;
}